PDP/ProductDescription.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  attributeFormDefault="unqualified"
  elementFormDefault="qualified"
  targetNamespace="http://schemas.microsoft.com/appx/2012/ProductDescription"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://schemas.microsoft.com/appx/2012/ProductDescription">

  <xs:attributeGroup name="LocIdAttribute">
    <xs:attribute name="_locID" type="xs:string" use="optional"/>
  </xs:attributeGroup>

  <xs:simpleType name="ReleaseString">
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="\s*(\S(\r|\n|.){0,254}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="KeywordString">
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="\s*(\S(\r|\n|.){0,29}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DescriptionString">
    <xs:restriction base="tns:NonNullNormalizedString">
      <xs:pattern value="\s*(\S(\r|\n|.){0,9999}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NotesString">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*(\S(\r|\n|.){0,1499}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AppFeatureString">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*(\S(\r|\n|.){0,199}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LangCodeString">
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="\s*(\S(\r|\n|.){0,29}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="ScreenshotImageGroup">
    <xs:attribute name="DesktopImage">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="MobileImage">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="XboxImage">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SurfaceHubImage">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="HoloLensImage">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="FallbackLanguage" type="tns:LangCodeString" />
  </xs:attributeGroup>

  <xs:simpleType name="CaptionStringContent">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*(\S(\r|\n|.){0,199}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CaptionString">
    <xs:simpleContent>
      <xs:extension base="tns:CaptionStringContent">
        <xs:attributeGroup ref="tns:ScreenshotImageGroup" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="AssetPathString">
    <xs:restriction base="xs:string">
      <!-- Min 5 since it needs at least a single character filename, the period and a 3 letter extension (mp4/mov/png) -->
      <xs:minLength value="5" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AdditionalAssetType">
    <xs:attribute name="FileName" type="tns:AssetPathString" use="required"/>
    <xs:attribute name="FallbackLanguage" type="tns:LangCodeString" />
  </xs:complexType>

  <xs:simpleType name="TrailerImageDescriptionString">
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="\s*(\S(\r|\n|.){0,199}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TrailerImageType">
    <xs:simpleContent>
      <xs:extension base="tns:TrailerImageDescriptionString">
        <xs:attribute name="FileName" type="tns:AssetPathString" use="required"/>
        <xs:attribute name="FallbackLanguage" type="tns:LangCodeString" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="TrailerTitleString">
    <xs:restriction base="tns:NonNullNormalizedString">
      <xs:pattern value="\s*(\S(\r|\n|.){0,199}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TrailerTitleType">
    <xs:simpleContent>
      <xs:extension base="tns:TrailerTitleString">
        <xs:attributeGroup ref="tns:LocIdAttribute"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="RecommendationString">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*(\S(\r|\n|.){0,199}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CopyrightString">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*(\S(\r|\n|.){0,199}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LicencseTermsString">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*(\S(\r|\n|.){0,9999}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SupportContactInfoString">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*(\S(\r|\n|.){1,2047}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="URLString">
    <xs:restriction base="xs:anyURI">
      <xs:pattern value="\s*(\S(\r|\n|.){0,2047}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PrivacyPolicyURLString">
    <xs:restriction base="xs:anyURI">
      <xs:pattern value="\s*(\S(\r|\n|.){0,2047}\s*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NonNullNormalizedString">
    <xs:restriction base="xs:normalizedString">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AppStoreNameString">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:element name="ProductDescription">
    <xs:annotation>
      <xs:documentation>
        Root element of ProductDescription document type. For content guidance on all required and optional fields in the product description, see http://go.microsoft.com/fwlink/p/?linkid=221134.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>

        <!-- COMMON section-->

        <xs:element name="AppStoreName" minOccurs="0">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>
                Optional, the localized name for the application's Store listing if not available in the application package.
                This name must be reserved in the Developer Center for this application.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleContent>
              <xs:extension base="tns:AppStoreNameString">
                <xs:attributeGroup ref="tns:LocIdAttribute"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="Keywords" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Optional, may contain up to 7 Keyword elements (previous Phone limit was 5)
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Keyword" minOccurs="0" maxOccurs="7">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>
                      Each keyword may not exceed 30 characters. Modified for Phone, WinStore is 45 sharacters.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:simpleContent>
                    <xs:extension base="tns:KeywordString">
                      <xs:attributeGroup ref="tns:LocIdAttribute"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Description">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>
                Required, may not exceed 10000 characters (previous Phone limit was 2000).
              </xs:documentation>
            </xs:annotation>
            <xs:simpleContent>
              <xs:extension base="tns:DescriptionString">
                <xs:attributeGroup ref="tns:LocIdAttribute"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="ReleaseNotes" minOccurs="0">
          <xs:complexType>
              <xs:annotation>
                <xs:documentation>
                  Optional, may not exceed 1500 characters
                </xs:documentation>
            </xs:annotation>
            <xs:simpleContent>
              <xs:extension base="tns:NotesString">
                <xs:attributeGroup ref="tns:LocIdAttribute"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="ScreenshotCaptions" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Optional, contains up to 9 elements per platform.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Caption" minOccurs="0" maxOccurs="45">
                <xs:complexType>
                    <xs:annotation>
                      <xs:documentation>
                        Each Caption may not exceed 200 characters
                      </xs:documentation>
                  </xs:annotation>
                  <xs:simpleContent>
                    <xs:extension base="tns:CaptionString">
                      <xs:attributeGroup ref="tns:LocIdAttribute"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="FallbackLanguage" type="tns:LangCodeString" />
          </xs:complexType>
        </xs:element>

        <xs:element name="AdditionalAssets" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Optional, contains additional assets for the listing that don't have any localizable text.
              For more info: https://docs.microsoft.com/en-us/windows/uwp/publish/app-screenshots-and-images
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="StoreLogo9x16" type="tns:AdditionalAssetType" minOccurs="0" />
              <xs:element name="StoreLogoSquare" type="tns:AdditionalAssetType" minOccurs="0" />
              <xs:element name="Icon" type="tns:AdditionalAssetType" minOccurs="0" />
              <xs:element name="PromotionalArt16x9" type="tns:AdditionalAssetType" minOccurs="0" />
              <xs:element name="PromotionalArtwork2400X1200" type="tns:AdditionalAssetType" minOccurs="0" />
              <xs:element name="XboxBrandedKeyArt" type="tns:AdditionalAssetType" minOccurs="0" />
              <xs:element name="XboxTitledHeroArt" type="tns:AdditionalAssetType" minOccurs="0" />
              <xs:element name="XboxFeaturedPromotionalArt" type="tns:AdditionalAssetType" minOccurs="0" />
              <xs:element name="SquareIcon358X358" type="tns:AdditionalAssetType" minOccurs="0" />
              <xs:element name="BackgroundImage1000X800" type="tns:AdditionalAssetType" minOccurs="0" />
              <xs:element name="PromotionalArtwork414X180" type="tns:AdditionalAssetType" minOccurs="0" />
            </xs:all>
            <xs:attribute name="FallbackLanguage" type="tns:LangCodeString" />
          </xs:complexType>
        </xs:element>

        <xs:element name="Trailers" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Optional, contains up to 15 elements.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Trailer" minOccurs="0" maxOccurs="15">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Title" type="tns:TrailerTitleType" minOccurs="1" />
                    <xs:element name="Images" minOccurs="1">
                      <xs:annotation>
                        <xs:documentation>
                          Only one image/screenshot is permitted (and required) per trailer.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Image" type="tns:TrailerImageType" minOccurs="1" maxOccurs="1"/>
                        </xs:all>
                        <xs:attribute name="FallbackLanguage" type="tns:LangCodeString" />
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="FileName" type="tns:AssetPathString" use="required"/>
                  <xs:attribute name="FallbackLanguage" type="tns:LangCodeString" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="FallbackLanguage" type="tns:LangCodeString" />
          </xs:complexType>
        </xs:element>

        <!-- Windows client only section-->

        <xs:element name="AppFeatures" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Optional, may contain up to 20 feature elements
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AppFeature" minOccurs="0" maxOccurs="20">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>
                      Each Feature description may not exceed 200 characters
                    </xs:documentation>
                  </xs:annotation>
                  <xs:simpleContent>
                    <xs:extension base="tns:AppFeatureString">
                      <xs:attributeGroup ref="tns:LocIdAttribute"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>


        <xs:element name="RecommendedHardware" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Optional, may contain up to 20 feature elements
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Recommendation" minOccurs="0" maxOccurs="10">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>
                      Each recommendation may not exceed 200 characters
                    </xs:documentation>
                  </xs:annotation>
                  <xs:simpleContent>
                    <xs:extension base="tns:RecommendationString">
                      <xs:attributeGroup ref="tns:LocIdAttribute"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="CopyrightAndTrademark" minOccurs="0">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>
                Optional, may not exceed 200 characters.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleContent>
              <xs:extension base="tns:CopyrightString">
                <xs:attributeGroup ref="tns:LocIdAttribute"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="AdditionalLicenseTerms" minOccurs="0">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>
                Optional, may not exceed 10000 characters
              </xs:documentation>
            </xs:annotation>
            <xs:simpleContent>
              <xs:extension base="tns:LicencseTermsString">
                <xs:attributeGroup ref="tns:LocIdAttribute"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="WebsiteURL" minOccurs="0">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>
                Optional, may not exceed 2048 characters
              </xs:documentation>
            </xs:annotation>
            <xs:simpleContent>
              <xs:extension base="tns:URLString">
                <xs:attributeGroup ref="tns:LocIdAttribute"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="SupportContactInfo" minOccurs="1">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>
                Required, may not exceed 2048 characters
              </xs:documentation>
            </xs:annotation>
            <xs:simpleContent>
              <xs:extension base="tns:SupportContactInfoString">
                <xs:attributeGroup ref="tns:LocIdAttribute"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

        <xs:element name="PrivacyPolicyURL" minOccurs="0">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>
                Optional, may not exceed 2048 characters.
                Any app that enables the Internet capability (or otherwise collects or transmits any user's personal information) requires a privacy policy.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleContent>
              <xs:extension base="tns:PrivacyPolicyURLString">
                <xs:attributeGroup ref="tns:LocIdAttribute"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

      </xs:all>
      <xs:attribute name="language" type="xs:language" use="required" />
      <xs:attribute name="Release" type="tns:ReleaseString" use="required" />
      <xs:attribute name="FallbackLanguage" type="tns:LangCodeString" />
    </xs:complexType>
  </xs:element>
</xs:schema>
